@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

p,
a,
span {
  @apply text-normal font-medium text-darkCharcoal;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold;
}

h1 {
  @apply text-extraLarge;
}

h2 {
  @apply text-large;
}

h3 {
  @apply text-medium;
}

h4 {
  @apply text-semiMedium;
}

.box-shadow-hero {
  box-shadow: 17px 17px 0px -2px rgba(117, 162, 47, 1);
  -webkit-box-shadow: 17px 17px 0px -2px rgba(117, 162, 47, 1);
  -moz-box-shadow: 17px 17px 0px -2px rgba(117, 162, 47, 1);
}
